<header class="page-header">
	<div class="page-header-title">
		<h1>Saved Articles</h1>
  </div>

	<div class="page-header-toolbar">
		<form class="general-search-form">
			<input type="text" name="query" placeholder="Search Feeds">
			<!-- <input type="submit"> -->
		</form>
	</div>
</header>

<section class="feed-articles">
</section>

<div class="article-modal">
</div>