<section class="feeder-description-one">
  <div>
  	<h1>Your personalized newspaper</h1>
  	<p>The information you need to keep ahead.</p>
  	<a href="#categories">Start reading</a>
  </div>
</section>

<section class="feeder-description-two">
	<div class="organize">
		<img src="https://s3.feedly.com/production/head/images/onboarding-organize.png">
		<h5>Organize</h5>
		<p>Discover and follow the</p>
		<p>sources that matter to you.</p>
	</div>

	<div class="read-anywhere">
		<img src="https://s3.feedly.com/production/head/images/onboarding-read-v4.png">
		<h5>Read Anywhere</h5>
		<p>A fast reading experience</p>
		<p>available wherever you go.</p>
	</div>

	<div class="share">
		<img src="https://s3.feedly.com/production/head/images/onboarding-share-v3.png">
		<h5>Share</h5>
		<p>Save and share content</p>
		<p>with your friends and colleagues.</p>
	</div>
</section>