<div class="log-in">
	<h1>Log In</h1>
	
	<div class="shared-errors">
	  <%= render "shared/errors" %>
  </div>

	<form class="log-in-form" action="<%= session_url %>" method="post">
	  <%= render "shared/authentication" %>

	  <label for id="username">Username</label>
	    <input id="username" type="text" name="user[username]">
	  <br>

	  <label for id="password">Password</label>
	    <input id="password" type="password" name="user[password]">
	  <br>

	  <input type="submit" value="Submit">
	</form>
</div>