<div class="nav-main-links">
  <a href="/#">Home</a>
  <br>
  <a href="/#savedArticles">Saved Articles</a>
  <br>
  <a href="/#categories">Add Content</a>
  <br>
</div>

<div class="nav-category-links">
  <a class="nav-category-all" href="/#">All</a>

</div>