<header class="page-header">
	<div class="page-header-title">
		<h1><%= user.get("username") %>'s Feeder :)</h1>
  </div>

	<div class="page-header-toolbar">
		<form class="general-search-form">
			<input type="text" name="query" placeholder="Search Feeds">
			<!-- <input type="submit"> -->
		</form>
	</div>
</header>

<% if (user._categories.models.length === 0) { %>
	<div class="loggedin-instructions">
		<p>Hover over the bar to the left,</p>
		<p>click on add content,</p>
		<p>find a feed you like,</p>
		<p>and follow it to add articles here!</p> 
	</div> 
<% } %>

<div class="article-modal">
</div>