<header class="page-header">
	<div class="page-header-title">
		<h1>Search Results</h1>
  </div>

	<div class="page-header-toolbar">
		<form class="general-search-form">
			<input type="text" name="query" placeholder="Search Feeds">
			<!-- <input type="submit"> -->
		</form>
	</div>
</header>

<article class="search-results-content">
	<h6>Feeds</h6>
	<br>
	<br>
	<br>

  <% if (feeds.models.length === 0) { %>
		<p class="search-results-none">None Found</p>

  <% } else { %>
  <% feeds.each(function(feed) { %>
    <div class="search-results-feed">
      <a href="#feeds/<%= feed.get("id") %>">
        <h4><%= feed.get("title") %></h4>
        <img src ="<%= feed.get("image_url") %>">
      </a>
    </div>
  <% }); %>

  <% } %>
</article>