<div class="sign-up">
  <h1>Sign Up</h1>

  <%= render "shared/errors" %>

  <form class="sign-up-form" action="<%= users_url %>" method="post">
    <%= render "shared/authentication" %>

    <label for id="username">Username</label>
      <input id="username" type="text" name="user[username]" value="<%= @user.username %>">
    <br>

    <label for id="password">Password</label>
      <input type="password" name="user[password]">
    <br>

    <input type="submit">
  </form>
</div>