<h1 class="nav-logged-out-title">Make Feeder Yours</h1>
<p class="nav-logged-out-description">
	Your favorite sites will be here when you add them to your feeder.
</p>
<a class="nav-add-content" href="#categories">
	Add Content
</a>
<a class="nav-log-in" href="<%= new_session_url %>">Login</a>
<a class="nav-sign-up" href="<%= new_user_url %>">Sign up</a>