<header class="page-header">
	<div class="page-header-title">
		<h1><%= feed.get("title") %>
    <% if (Feeder.user_status) { %>
    <button class="feed-status-button">Follow</button>
    <% } %>
		</h1>
  </div>

	<div class="page-header-toolbar">
		<form class="general-search-form">
			<input type="text" name="query" placeholder="Search Feeds">
			<!-- <input type="submit"> -->
		</form>
	</div>
</header>

<article class="feed-show-content">
</article>

<div class="article-modal">
</div>