/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

/* Navigation Bar */

nav {
  position:fixed;
  width: 52px;
  height: 100%;
  background: #DCDCDC;
}

.nav-hidden {
  position: absolute;
  display: none;
  width: 270px;
  height: 100%;
  background: #EAEAEA;
}

nav:hover .nav-hidden {
  display: block;
}

.nav-hidden-top {
  display: block;
  font-family: sans-serif;
	height: 90%;
}

.nav-logged-out-title {
  display: block;
  padding: 40px 80px 30px 40px;
  width: 155px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.04em;
  color: #5C5C5C;
}

.nav-logged-out-description {
	display: block;
	padding: 35px 50px 36px 40px;
	font-size: 14px;
	font-weight: normal;
	color: #5C5C5C;
}

.nav-add-content {
	display: block;
  margin: auto;
  padding: 10px 90px 15px 10px;
  width: 90px;
  height: 10px;
	text-decoration: none;
	color: white;
	background: #27A63B;
  border-radius: 5px;
}

.nav-log-in {
	display: block;
  margin: 80px auto 15px auto;
  padding: 10px 90px 15px 10px;
  width: 85px;
  height: 10px;
	text-decoration: none;
	color: white;
	background: #5C5C5C;
  border-radius: 5px;
}

.nav-sign-up {
	display: block;
  margin: 15px auto 0 auto;
  padding: 10px 90px 15px 10px;
  width: 85px;
  height: 10px;
	text-decoration: none;
	color: white;
	background: #5C5C5C;
  border-radius: 5px;
}

.nav-hidden-scroll {
  height: 100%;
  overflow: scroll;
}

.nav-main-links {
  display: block;
  margin: 40px 0 40px 40px;
}

.nav-main-links a {
  display: block;
  height: 5px;
  text-decoration: none;
  color: #7D7B7B;
}

.nav-category-links {
  width: 225px;
  margin: 40px 0 40px 40px;
}

.nav-category-links a {
  text-decoration: none;
  color: #7D7B7B;
}

.nav-category-all {
}

.nav-category {
  display: block;
  margin-top: 10px;
	margin-bottom: 0;
}

.nav-category-feed {
  display: block;
  margin: 0;
  padding: 5px 0 5px 15px;
}

.nav-hidden-bottom {
  display: block;
	width: 100%;
  height: 50px;
	bottom: 0;
  border-radius: 5px;
  font-family: sans-serif;
}

.nav-hidden-bottom input[type="submit"] {
	width: 100%;
	height: 75px;
	cursor: pointer;
	color: #EAEAEA;
	background: #7D7B7B;
}

/* Pages */

.page {
  display: block;
  height: 100%;
  padding-left: 190px;
  padding-right: 132px;
}

/* Pages Header */

.page-header {
	display: block;
	margin-bottom: 125px;
	padding-top: 25px;
	font-family: sans-serif;
}

.page-header-title {
	float: left;
}

.page-header-title > h1 {
	font-size: 30px;
}

.page-header-toolbar {
	float: right;
	padding-top: 10px;
}

.general-search-form input[type="text"] {
	text-align: center;
	border: 2px solid #E4E4E4;
}

/* Root Page */

.instructions-home-page {
	display: block;
	margin: 0;
	padding: 0;
	width: 200px;
	font-family: sans-serif;
	font-size: 14px;
}

.feeder-description-one {
	display: block;
  font-family: sans-serif;
}

.feeder-description-one > div {
  display: block;
  margin: auto;
  padding-top: 105px;
  width: 375px;
}

.feeder-description-one > div > h1 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 28px;
	text-align: center;
	letter-spacing: -0.04em;
	color: #242424;
}

.feeder-description-one > div > p {
  margin-bottom: 75px;
	font-weight: 300;
	text-align: center;
	color: #676767;
}

.feeder-description-one a {
  display: block;
  margin: auto;
  padding: 12px 0 12px 0;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #FFFEFE;
  background: #27A63B;
}

.feeder-description-two {
	display: block;
  margin-top: 100px;
  padding: 0 80px 0 80px;
  height: 100%;
}

.feeder-description-two-content {
  display: block;
  margin: auto;
  padding: 0;
  width: 724px;
}

.feeder-description-two-content > div {
  display: inline-block;
  margin: auto;
  padding: 0 16px 0 16px;
  font-family: sans-serif;
  border: 2px solid white;
}

.feeder-description-two-content div h5 {
  margin: 0 0 6px 0;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -0.04em;
  text-align: center;
  color: #262626;
}

.feeder-description-two div p {
	font-size: 14px;
	text-align: center;
	color: #848484;
}

/* Sign Up */

.sign-up {
  display: block;
  margin: auto;
  padding-top: 150px;
  width: 400px;
  font-family: sans-serif;
}

.sign-up > h1 {
  display: block;
  margin: auto;
  font-size: 40px;
  text-align: center;
}

.sign-up-form {
  margin-top: 40px;
}

.sign-up-form > label {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.sign-up-form > input {
  display: block;
  margin: auto;
  width: 275px;
  height: 35px;
  text-align: center;
  border: 2px solid black;
}

.sign-up-form > input[type="submit"] {
  display: block;
  width: 125px;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
	cursor: pointer;
  color: white;
  background: #27A63B;
}

/* Log In */

.log-in {
  display: block;
  margin: auto;
  padding-top: 150px;
  width: 400px;
  font-family: sans-serif;
}

.log-in > h1 {
  display: block;
  margin: auto;
  font-size: 40px;
  text-align: center;
}

.log-in-form {
  margin-top: 40px;
}

.log-in-form > label {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.log-in-form > input {
  display: block;
  margin: auto;
  width: 275px;
  height: 35px;
  text-align: center;
  border: 2px solid black;
}

.log-in-form > input[type="submit"] {
  display: block;
  width: 125px;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
	cursor: pointer;
  color: white;
  background: #27A63B;
}

/* Sign Up and Log In Errors */

.shared-errors {
	display: block;
	margin: 20px auto 0 auto;
	width: 300px;
}

/* User Show Page */

.loggedin-instructions {
	font-family: sans-serif;
}

/* Category Index Page */

.category-index {
	display: block;
	font-family: sans-serif;
}

.category-index-search {
	display: block;
	margin: auto;
	margin-bottom: 150px;
	padding-top: 150px;
	width: 600px;
	font-size: 18px;
}

.category-index-search > p {
	display: block;
	margin-bottom: 10px;
}

.category-index-search > form > input[type="text"] {
	display: block;
	width: 100%;
	height: 50px;
	border: 2px solid #E4E4E4;
}

.category-index-content {
	display: block;
}

.category-index-category {
	display: inline-block;
	margin: 20px;
	border: 2px solid #E4E4E4;
}

.category-index-category a {
	text-decoration: none;
}

.category-index-category img {
	width: 110px;
	height: 80px;
}

.category-index-category h4 {
	display: block;
	padding: 5px;
	font-size: 14px;
	text-align: center;
	color: black;
}

/* Category Show Page */

.category-show-content {
	display: block;
	font-family: sans-serif;
	clear: both;
}

.category-show-content > h6 {
  font-weight: bold;
  color: #BABABA;
}

.category-show-feed {
	display: inline-block;
	margin: 0 3px 75px 3px;
	padding: 2px;
}

.category-show-feed > a {
	text-decoration: none;
}

.category-show-feed > a > h4 {
	padding-top: 10px;
	padding-bottom: 20px;
	color: black;
	text-align: center;
}

.category-show-feed > a > img {
	display: block;
	width: 250px;
  height: 200px;
  overflow: hidden;
}

/* Search Results Page */

.search-results-content {
	display: block;
	font-family: sans-serif;
	clear: both;
}

.search-results-content > h6 {
  font-weight: bold;
  color: #BABABA;
}

.search-results-none {
}

.search-results-feed {
	display: inline-block;
	margin: 0 3px 75px 3px;
	padding: 2px;
}

.search-results-feed > a {
	text-decoration: none;
}

.search-results-feed > a > h4 {
	padding-top: 10px;
	padding-bottom: 20px;
	color: black;
	text-align: center;
}

.search-results-feed > a > img {
	display: block;
	width: 250px;
  height: 200px;
  overflow: hidden;
}

/* Feed Show Page */

.feed-show-content {
	display: block;
}

.feed-status-button {
	width: 75px;
	font-size: 18px;
	background: #24992D;
	border-radius: 5px;
}

.feed-status-button:hover {
	cursor: pointer;
}


/* Article Show Page */

.article-show {
	display: block;
	margin-bottom: 50px;
	width: auto;
	height: 250px;
}

.article-show-image {
	float: left;
}

.article-show-image > img {
	padding-top: 52px;
  width: 225px;
  height: 150px;
  overflow: hidden;
}

.article-show-container {
	float: right;
	width: 525px;
}

.article-show-container > a {
	display: block;
	margin-bottom: 15px;
	font-family: sans-serif;
	text-align: center;
	text-decoration: none;
}

.article-show-container > a:hover {
	cursor: pointer;
	text-decoration: underline;
	color: black;
}

.article-show-container > a > h4 {
	font-size: 15px;
	font-weight: bold;
	color: black;
}

.article-show-container > a > h6 {
	font-size: 14px;
  font-weight: bold;
  color: #BABABA;
}

.article-show-description {
	width: 100%;
	height: 160px;
	overflow: hidden;
}

.article-show-description img {
	display: none;
}

.article-show-description a {
	text-decoration: none;
	color: black;
}

/* Article Modal */

.article-modal {
  display: none;
}

.article-modal-on {
  display: block;
}

.article-modal-background-on {
  position: fixed;
  display: block;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.article-modal-content {
  position: fixed;
  display: none;
  right: 25px;
  top: 20px;
  margin: 0 0 25px 0;
	padding-left: 50px;
	padding-right: 50px;
  width: 60%;
  height: 95%;
  background: white;
	overflow: hidden;
}

.article-modal-content-on {
  display: block;
}

.article-modal-header {
	display: block;
	margin: auto;
	width: 100%;
	height: 100px;
	font-family: sans-serif;
}

#article-modal-close {
	float: right;
}

#article-modal-close > button {
	display: block;
	padding: 5px;
	color: white;
	background: #24992D;
	border-radius: 5px;
}

#article-modal-close > button:hover {
	cursor: pointer;
}

.article-modal-title {
	display: block;
	font-family: sans-serif;
	text-decoration: none;
	color: black;
	clear: both;
}

.article-modal-title:hover {
	text-decoration: underline;
}

.article-modal-title > h4 {
	text-align: center;
}

.article-modal-title > h6 {
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
  font-weight: bold;
  color: #BABABA;
}

.article-modal-toolbar {
	display: block;
	padding-top: 20px;
	padding-bottom: 40px;
}

.article-modal-toolbar > #one {
	float: left;
	padding: 5px;
	color: black;
	background: white;
	border-radius: 5px;
}

.article-modal-toolbar > #one:hover {
	cursor: pointer;
  text-decoration: underline;
}

.article-modal-toolbar > #two {
	float: right;
}

.article-modal-toolbar > #two > div {
	float: left;
	margin-left: 15px;
}

.article-modal-toolbar > #two > div > a{
	display: block;
	padding-top: 3px;
	text-decoration: none;
	color: black;
}

.article-modal-toolbar > #two > div > a:hover{
	text-decoration: underline;
}

.article-modal-body {
	display: block;
	margin: auto;
	width: 100%;
	height: 250px;
	overflow: scroll;
	clear: both;
}

.article-modal-comments {
	display: block;
	font-family: sans-serif;
}

.comments-pane {
	display: block;
	width: 100%;
	height: 75px;
	border: 2px solid #E4E4E4;
	border-radius: 5px;

	overflow: scroll;
}

.article-modal-comment {
	display: block;
	border-bottom: 1px solid black;
}

.modal-comment-form {
	display: block;
	width: 100%;
	height: 50px;
	border: 2px solid #E4E4E4;
	border-radius: 5px;
}

.modal-comment-form > textarea {
	display: block;
	width: 100%;
	height: 100%;
}

.modal-comment-form > input[type="submit"] {
	position: absolute;
	bottom: 190px;
	right: 50px;
	background: white;
	color: black;
	border-radius: 5px;
}

.modal-comment-form > input[type="submit"]:hover {
	cursor: pointer;
  text-decoration: underline;
}


.article-modal-footer {
	display: block;
	margin-top: 20px;
	border: 2px solid #E4E4E4;
	border-radius: 5px;
}

.article-modal-footer > a {
	display: block;
	padding: 10px;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	text-decoration: none;
	text-align: center;
	color: black;
}

.article-modal-footer > a:hover {
	text-decoration: underline;
}