/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

/* Navigation Bar */

nav {
  position:fixed;
  width: 52px;
  height: 100%;
  background: #EAEAEA;
}

.nav-hidden {
  position: absolute;
  display: none;
  width: 270px;
  height: 100%;
  background: #EAEAEA;
}

nav:hover .nav-hidden {
  display: block;
}

.nav-hidden-top {
  display: block;
  font-family: sans-serif;
}

.nav-logged-out-title {
  display: block;
  padding: 40px 80px 30px 40px;
  width: 155px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.04em;
  color: #5C5C5C;
}

.nav-logged-out-description {
	display: block;
	padding: 35px 50px 36px 40px;
	font-size: 14px;
	font-weight: normal;
	color: #5C5C5C;
}

.nav-add-content {
	display: block;
  margin: auto;
  padding: 10px 90px 15px 10px;
  width: 90px;
  height: 10px;
	text-decoration: none;
	color: white;
	background: #27A63B;
  border-radius: 5px;
}

.nav-log-in {
	display: block;
  margin: 80px auto 15px auto;
  padding: 10px 90px 15px 10px;
  width: 85px;
  height: 10px;
	text-decoration: none;
	color: white;
	background: #5C5C5C;
  border-radius: 5px;
}

.nav-sign-up {
	display: block;
  margin: 15px auto 0 auto;
  padding: 10px 90px 15px 10px;
  width: 85px;
  height: 10px;
	text-decoration: none;
	color: white;
	background: #5C5C5C;
  border-radius: 5px;
}

.nav-hidden-bottom {
  display: block;
  position: absolute;
	width: 100%;
  height: 50px;
	bottom: 0;
  border-radius: 5px;
  font-family: sans-serif;
}

.nav-hidden-bottom input[type="submit"] {
	width: 100%;
	height: 50px;
	cursor: pointer;
	color: #EAEAEA;
	background: #7D7B7B;
}

/* Pages */

.page {
  display: block;
  height: 100%;
  padding-left: 190px;
  padding-right: 132px;
/*  background: red;*/
}

/* Pages Header */

.page-header {
	display: block;
	margin-bottom: 125px;
	padding-top: 25px;
	font-family: sans-serif;
/*	background: blue;*/
}

.page-header-title {
	float: left;
}

.page-header-title > h1 {
	font-size: 30px;
}

.page-header-toolbar {
	float: right;
	padding-top: 10px;
}

.general-search-form input[type="text"] {
	text-align: center;
	border: 2px solid #E4E4E4;
}

/* Root Page */

.feeder-description-one {
	display: block;
  font-family: sans-serif;
/*  background: green;*/
}

.feeder-description-one > div {
  display: block;
  margin: auto;
  padding-top: 105px;
  width: 375px;
/*  background: blue;*/
}

.feeder-description-one > div > h1 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 28px;
	text-align: center;
	letter-spacing: -0.04em;
	color: #242424;
}

.feeder-description-one > div > p {
  margin-bottom: 75px;
	font-weight: 300;
	text-align: center;
	color: #676767;
}

.feeder-description-one a {
  display: block;
  margin: auto;
  padding: 12px 0 12px 0;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #FFFEFE;
  background: #27A63B;
}

.feeder-description-two {
	display: block;
  margin-top: 175px;
  padding: 0 80px 0 80px;
/*  background: blue;*/
  height: 100%;
}

.feeder-description-two-content {
  display: block;
  margin: auto;
  padding: 0;
/*  background: green;*/
  width: 724px;
}

.feeder-description-two-content > div {
  display: inline-block;
  margin: auto;
  padding: 0 16px 0 16px;
  font-family: sans-serif;
  border: 2px dashed white;
/*  background: yellow;*/
}

.feeder-description-two-content div h5 {
  margin: 0 0 6px 0;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -0.04em;
  text-align: center;
  color: #262626;
}

.feeder-description-two div p {
	font-size: 14px;
	text-align: center;
	color: #848484;
}

/* Sign Up */

.sign-up {
  display: block;
  margin: auto;
  padding-top: 150px;
  width: 400px;
  font-family: sans-serif;
/*  background: blue;*/
}

.sign-up > h1 {
  display: block;
  margin: auto;
  font-size: 40px;
  text-align: center;
/*  background: yellow;*/
}

.sign-up-form {
  margin-top: 40px;
/*  background: green;*/
}

.sign-up-form > label {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.sign-up-form > input {
  display: block;
  margin: auto;
  width: 275px;
  height: 35px;
  text-align: center;
  border: 2px solid black;
}

.sign-up-form > input[type="submit"] {
  display: block;
  width: 125px;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
	cursor: pointer;
  color: white;
  background: #27A63B;
}

/* Log In */

.log-in {
  display: block;
  margin: auto;
  padding-top: 150px;
  width: 400px;
  font-family: sans-serif;
/*  background: blue;*/
}

.log-in > h1 {
  display: block;
  margin: auto;
  font-size: 40px;
  text-align: center;
/*  background: yellow;*/
}

.log-in-form {
  margin-top: 40px;
/*  background: green;*/
}

.log-in-form > label {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.log-in-form > input {
  display: block;
  margin: auto;
  width: 275px;
  height: 35px;
  text-align: center;
  border: 2px solid black;
}

.log-in-form > input[type="submit"] {
  display: block;
  width: 125px;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
	cursor: pointer;
  color: white;
  background: #27A63B;
}

/* Sign Up and Log In Errors */

.shared-errors {
	display: block;
	margin: 20px auto 0 auto;
	width: 300px;
/*	background: green;*/
}

/* Category Index Page */

.category-index {
	display: block;
	font-family: sans-serif;
/*	background: blue;*/
}

.category-index-search {
	display: block;
	margin: auto;
	margin-bottom: 150px;
	padding-top: 150px;
	width: 600px;
	font-size: 18px;
/*	background: green;*/
}

.category-index-search > p {
	display: block;
	margin-bottom: 10px;
/*	background: yellow;*/
}

.category-index-search > form > input[type="text"] {
	display: block;
	width: 100%;
	height: 50px;
	border: 2px solid #E4E4E4;
}

.category-index-content {
	display: block;
/*	background: yellow;*/
}

.category-index-category {
	display: inline-block;
	margin: 20px;
	border: 2px solid #E4E4E4;
/*	background: orange;*/
}

.category-index-category a {
	text-decoration: none;
}

.category-index-category img {
	width: 110px;
	height: 80px;
}

.category-index-category h4 {
	display: block;
	padding: 5px;
	font-size: 14px;
	text-align: center;
	color: black;
}

/* Category Show Page */

.category-show-content {
	display: block;
	font-family: sans-serif;	
	clear: both;
/*	background: orange;*/
}

.category-show-content > h6 {
	color: #E4E4E4;
}

.category-show-feed {
	display: inline-block;
	margin: 0 3px 75px 3px;
	padding: 2px;
	border: 2px solid #E4E4E4;
/*	background: green;*/
}

.category-show-feed > a {
	text-decoration: none;
}

.category-show-feed > a > h4 {
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	text-align: center;
}

.category-show-feed > a > img {
	display: block;
	width: 250px;
}